.idea/
.vscode/
*.log
**/node_modules
**/vendor
**/plugins
**/mpdf-development
**/bootstrap
**/bootstrap2
**/bootstrap3
**/bootstrap4
**/paypal
**/fpdf
**/temp
**/mpdf/
**/mpdf2/
admin/adminlte3/
admin/bootstrap5/
admin/ckeditor/
admin/colorbox/
admin/controllers/
admin/css/
admin/files/
admin/font/
admin/fullcalendar/
admin/html/
admin/jquery/
admin/js/
admin/lang/
admin/locale/
admin/models/
admin/plugins/
admin/src/
admin/swagger/
admin/timepicker/
admin/txt/
admin/tinymce/
admin/vendor/
admin/views/
admin/*.log