@font-face {
  font-family: "Verdana";
  src: url("//db.onlinewebfonts.com/t/1ae9b9868bd3121e932225b140a839a5.eot");
  src: url("//db.onlinewebfonts.com/t/1ae9b9868bd3121e932225b140a839a5.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/1ae9b9868bd3121e932225b140a839a5.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/1ae9b9868bd3121e932225b140a839a5.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/1ae9b9868bd3121e932225b140a839a5.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/1ae9b9868bd3121e932225b140a839a5.svg#Verdana")
      format("svg");
}
